/*	1. RESET BROWSER STYLES
------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/*------------------------------------------------------------------------*/

html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*	2. MAIN TAGS
------------------------------------------------- */
html{
  font-size: 16px;
  scroll-behavior: smooth;
}
body{
  color: #555f66;
		font-family: "Roboto", Helvetica, sans-serif;
		font-size: 12pt;
		font-weight: 300;
		line-height: 1.75em;
/* font-family: 'Courgette', cursive; */
}


/*Headers*/
#header {
  background: #fff;
  color: #555f66;
  cursor: default;
  height: 3em;
  left: 0;
  line-height: 3em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  box-shadow: 0 0 0.1em 0 rgba(0, 0, 0, 0.25);
}
.navigationBar{
  width: 80%;
  text-align: right;
}
.navigationMenu{
  /* justify-content: flex-end; */
  /* align-items: center; */
  text-decoration: none;
  padding: 0;
  font-size: 1em;

}
.top-header {
  padding: 2px;
}
.navigationMenu .pipeline::after{
  margin: 0 ;
}
li{
  display: inline;
  margin-left: 1em;
}
#header .alt{
  background-color: rgb(0,0,0,0.75);
  cursor: default;
}
a{
  color: #629DD1;
		text-decoration: none;
}
a:hover{
  text-decoration: none;
}
/*LINKS*/

/*PARAGRAPHS*/


/*	3. HELPER CLASSES (reusable styles)
------------------------------------------------- */
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row-2{
  display: flex;
}
.h1{
  color: #666f77;
  font-weight: 300;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  text-align: center;
}
.services{
  height: 150px;
  width: 150px;
  position: flex;
  margin: 0;
  border-radius: 50%;
}
.container-cercle-pic{
  align-content: center;
}
.center-item{
  display:flex;
  justify-content: center;
}
.textCenter{
  text-align: center;
  margin: 0 0 4em 0;
}
.img-row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-containers{
  border: bold 1px #555f66;
  width: 357.33px;
  height: 400px;

}
.shadowBox{
  border-radius: 100%;
  box-shadow: 0 0 0 10px #fff, 0 0 0 11px rgba(144, 144, 144, 0.25);
  margin-bottom: 1em;
}
.box{
  text-align: center;
  border-radius: 6px;
  border: solid 1px rgba(144, 144, 144, 0.25);
  margin-bottom: 2em;
  padding: 3em 2em;
}


/*MARGINS*/
.mg-box{
  margin-left: 3em;
}
.mg-sec3{
  margin-bottom: 4em;
}

/*PADDINGS*/
.wrapper{
  padding: 6em 0 4em 0;
}

/*BGs*/
.bgshop{
  width: auto;
  height: auto;
}
.banner{
  position: relative;
  height: 80vh !important;
  width: 100%;
}

.bgvalise{
  position: relative;
  padding: 6rem 0px 4rem;
  margin: 0;
}
.section-3{
  background-color: #192024;
  height: auto;
}


/*	4. LAYOUT
------------------------------------------------- */
/*Custom Styles depending on your Project*/
footer{
  text-align: center;
  background: #f8f8f8;
  padding: 4em 0 6em 0;
}
.map{
  border-radius: 6px;
  margin-left: 8em;
}
.contact-text{
  padding:  8em;
}
.container-services.services{
  position: flex;
  display: inline;
}
.row-3{
  position: flex;
  align-content: center;
  height: 257px;
  width: 568px;
  border-radius: 6px;
}
/*Scale when hover helper*/
.scale{
	overflow: hidden;
}
.scale img{
	transition: transform .4s ease;
}
.scale:hover img{
	transform: scale(1.1);
}
/*	5. MEDIA QUERIES (Resposive stuff)
------------------------------------------------- */